---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Link from '../../components/Link.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="max-w-[900px] mx-auto font-mono bg-[#1d2021] text-[#ffffff]">
		<div class="mx-5">
			<Header />
			<main>
				<h1 class="text-3xl font-bold mt-10 text-[#b8bb26]">About Me</h1>

				<div class="flex flex-col gap-5">
					<p class="mt-5">I'm currently a 2nd year student and spend most of my time reading(currently <Link url="https://www.goodreads.com/book/show/13496.A_Game_of_Thrones" name="game of thrones" />,<Link url="https://www.amazon.com/Discrete-Mathematics-Applications-Susanna-Epp/dp/0495391328" name="discrete maths" />), learning and programming. I love learning new and cool things and building with it. Currently making a media server to stream to my tv as jellyfin and plex dont seem to work on it and learning discrete maths as that thing is just fascinating. </p>
					<p>I love listening to music and watching web series like <a class="text-[#fe8019] hover:underline" href="https://www.imdb.com/title/tt5753856/">Dark</a>, <a class="text-[#fe8019] hover:underline" href="https://www.imdb.com/title/tt0903747/">Breaking Bad</a> (if you got anything similar message me), animes (<a class="text-[#fe8109] hover:underline" href="https://myanimelist.net/anime/57524/Make_Heroine_ga_Oosugiru">current brainrot</a>) and tinkering with computers (got a thing for them).</p>
					<p>If you got anything interesting to talk <a class="text-[#fe8019] hover:underline" href="https://x.com/quantinium03">message me.</a> Always interested to talk to people.</p>
				</div>
			</main>
			<Footer />
		</div>
	</body>
</html>


