---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import DateFormat from '../components/dateFormat.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="max-w-prose mx-auto font-mono bg-[#1d2021] text-[#ffffff]">
		<Header />
		<main >
			<div class="pt-10 flex flex-col gap-5">
				<h1 class="text-3xl font-bold">Hi, I'm Quantinium </h1>
				<p>I'm a second year uni student just trying to learn cool and stuff and make stuff that seem cool to me.</p>
				<p>I made this website to keep track of everything i do and make it easy for me to access everything in least possible time</p>
				<p>It's my personal space to share what i'm learning, stay motivated and get better at organizing my thoughts.</p>
				<p>You'll find my daily progress, current projects, blogs, resources and notes here. Its a work in progress.</p>
				<p>Feel free to <a class="font-bold text-[#fe8019] hover:underline" href="">DM me @𝕏</a>
			</div>
			<div class="mt-10">
				<h1 class="text-3xl font-bold text-[#b8bb26] mb-5">Posts:</h1>
				<p>Haven't Posted anything yet. <DateFormat date="August 31, 2024"/></p>
			</div>
			<div class="mt-10">
				<h1 class="text-3xl font-bold text-[#b8bb26]"> Daily Report: </h1>
				<p class="py-3">still in progress ...</p>
				<ul class="list-disc pl-5">
					<li>
						<p><a class="text-[#fe8019] hover:underline text-lg"href="">Day 1</a><DateFormat date="August 31, 2024" /><p>
					</li>
					<li>
						<p><a class="text-[#fe8019] text-lg hover:underline"href="">Day 2</a><DateFormat date="August 31, 2024" /><p>
					</li>
					<li>
						<p><a class="text-[#fe8019] text-lg hover:underline"href="">Day 3</a><DateFormat date="August 31, 2024" /><p>
					</li>
				<ul>
				<p class="pt-5 text-[#fe8019] hover:underline">See all daily reports</p>
			</div>
		</main>
		<Footer />
	</body>
</html>
