---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('resource'));
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="max-w-[900px] mx-auto font-mono bg-[#1d2021] text-[#ffffff]">
		<div class="mx-5">
			<Header />
			<main class="font-bold mt-10 text-[#b8bb26]">
				<h1 class="text-3xl">Resources</h1>
				<section class="mt-5">
					<ul class="flex gap-2 flex-col">
						{
							posts.map((post) => (
								<li>
									<p>
										<a href={`/resource/${post.slug}/`}>
											<span class=" text-[#fe8019]">{post.data.title}</span>
										</a>
									</p>
								</li>
							))
						}
					</ul>
				</section>
			</main>
			<Footer />
		</div>
	</body>
</html>


