---
import HeaderLink from './HeaderLink.astro';
---

<header class="flex justify-center mt-10 border-b border-white pb-3">
	<nav class="flex justify-around w-full text-xl">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/notes">Notes</HeaderLink>
		<HeaderLink href="/resources">Resource</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
	</nav>
</header>
