---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

type Props = CollectionEntry<'resource'>['data'];

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class="max-w-[900px] mx-auto font-mono bg-[#1d2021] text-[#ffffff]">
		<div class="mx-5">
			<Header />
			<main>
				<article class="ml-5">
					<div class="prose max-w-[800px]">
						<div class="flex flex-row mt-3 mb-2 items-center">
							<span><a href="/" class="text-[#665c54]">Home</a></span>
							<span class="flex items-center justify-center px-3">
								<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right flex justify-center content-center "><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
							</span>
							<span><a href="/resource" class="text-[#665c54]">Resource</a></span>
							<span class="flex items-center justify-center px-3">
								<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right flex justify-center content-center "><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
							</span>
							<span class="text-[#665c54]">{title}</span>
						</div>
						<div class="mt-5">
							<h1 class="text-4xl font-bold">{title}</h1>
						</div>
						<slot />
					</div>
				</article>
			</main>
			<Footer />
		</div>
	</body>
</html>
